@model IEnumerable<HouseHotel.Models.Property>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceMidSeason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceLowSeason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceHighSeason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepositRequired)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceMidSeason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceLowSeason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceHighSeason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepositRequired)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PropertyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PropertyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PropertyID })
        </td>
    </tr>
}

</table>
